connection:
    server: 'http://jira.atlassian.com'
    # set verify to either the root cert or False to ignore warnings
    verify: 'IntelSHA256RootCA-Base64.crt'

user:
    username: 'user'
    password: 'password'
