connection:
    server: 'http://jira.atlassian.com'
    # set verify to either the root cert or False to ignore warnings
    verify: 'intel_root.cer'

user:
    username: 'user'
    password: 'password'
